tensorflow
scikit-learn
seaborn
matplotlib
plotly
tqdm
geopy
scipy
pyTelegramBotAPI  # course 3 week 6
pipenv  # course 3 week 5
marshmallow
jsonschema
django==2.2.10
# django==2.0.13
# django==1.11.23
flask
PyYAML
graphics.py
numpy
pandas
jupyter
pygame
jupyterlab
requests
# course 3 week 2
beautifulsoup4
lxml