.search {
    border: 1px solid #cccccc; 
    border-radius: 5px; 
    outline: none;  
    height: 35px; 
    width: 900px; 
    color: #cccccc; 
    font-size: 20px; 
    font-family: Tahoma; 
 }

 a{
     margin: 10px
 }

.rright{
    position: right;
}