<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Teg Form</title>
    </head>
    <body>
        <h1>Форма отзыва</h1>
        <form method="post" enctype="multipart/form-data" action="/form/">
            {% csrf_token %}
            <label for="feedback-text"> Отзыв: </label>
            <input id="feedback-text" type="text" name="text" minlength="3" maxlength="10" required>

            <label for="feedback-grade"> Оценка: </label>
            <input id="feedback-grade" type="number" name="grade" min="1" max="100" required>

            <label for="feedback-image"> Фотография: </label>
            <input id="feedback-image" type="file" name="image">

            <input id="feedback-submit" type="submit">
        </form>
    </body>
</html>